---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: grafana
  namespace: monitoring
spec:
  interval: 1m0s
  url: https://grafana.github.io/helm-charts
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
  namespace: monitoring
spec:
  chart:
    spec:
      chart: grafana
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: grafana
      version: 10.5.15
  interval: 1m0s
  values:
    global:
      route:
        main:
          enabled: false
          apiVersion: gateway.networking.k8s.io/v1
          kind: HTTPRoute
          annotations: {}
          labels: {}
          hostnames: []
          parentRefs:
          - name: traefik
            sectionName: http
            kind: Gateway
          matches:
            - path:
                type: PathPrefix
                value: /
